.login-container {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.login-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-image img {
  max-width: 100%;
  border-radius: 8px;
}

.login-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form-container h1 {
  font-size: 2rem;
  color: #333333;
  text-align: center;
  margin-bottom: 1rem;
}

.login-form-container .form-group {
  margin-bottom: 1rem;
}

.login-form-container label {
  display: block;
  font-size: 1rem;
  color: #555555;
  margin-bottom: 0.5rem;
}

.login-form-container input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 0;
  font-size: 1rem;
}

.login-form-container .login-button {
  padding: 0.75rem;
  background-color: #4b8fef;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.login-form-container .login-button:hover {
  background-color: #367bbd;
}

.login-form-container .error-message {
  color: #ff0000;
  margin-top: 1rem;
  text-align: center;
}

.login-form-container p {
  text-align: center;
  margin-top: 1rem;
}

.login-form-container p a {
  color: #007bff;
  text-decoration: none;
}

.login-form-container p a:hover {
  text-decoration: underline;
}

.password-input-container {
  display: flex;
  align-items: center;
}

.password-input-container input {
  flex: 1;
  border-radius: 0;
}

.toggle-password-visibility {
  background: none;
  border: none;
  padding: 0 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
}

.toggle-password-visibility:hover {
  background-color: transparent;
}

.icon-password {
  font-size: 1.5rem; /* Ajusta el tamaño del ícono según sea necesario */
  color: #1c1c1c; /* Ajusta el color del ícono según sea necesario */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-image,
  .login-form-container {
    flex: none;
    width: 100%;
  }

  .login-image {
    display: none; /* Opcional: Ocultar la imagen en pantallas pequeñas */
  }

  .login-form-container {
    padding: 1rem;
  }
}
